<div class="bg-white p-6 rounded-xl">
  <div class="flex flex-col gap-5">

    <div class="text-center">
      <img src="assets/image/login/recovery.png" class="w-24 h-24">
    </div>

    <p class="text-center">Insira seu e-mail e enviaremos um link para você redefinir sua senha.</p>

    <div class="flex flex-col gap-3">
      <input #email pInputText placeholder="E-mail" class="w-full" />

      <p-button (onClick)="recovery(email.value)" label="Enviar link de recuperação"
        styleClass="w-full mt-3 bg-[#F99007] border-[#F99007] hover:bg-[#F56B07] shadow-md"></p-button>
    </div>

    <div class="text-sm text-center" matRipple routerLink="/account/login">
      <span class="text-[#F54407]">Clique aqui</span>
      <span> para voltar</span>
    </div>

  </div>
</div>

<p-toast position="top-center" styleClass="w-[80vw]" />
