<ion-content class="ion-padding">

  <div class="bg-[#fbac3a] h-full rounded-xl p-3 shadow-lg">
    <div class="bg-white h-full rounded-xl p-4">

      @if (itemContent.type === 'content') {
      <app-item-content [data]="itemContent"></app-item-content>

      } @else if (itemContent.type === 'activity') {
      <div class="flex flex-col justify-between h-full">
        <app-item-activity [data]="itemContent"></app-item-activity>
        @if (isAnswered()) {
        <p-button
          label="Continuar"
          (click)="return()"
          styleClass="w-full bg-[#58CC02] border-[#58CC02] hover:bg-[#4BAD00] shadow-lg p-2 rounded-xl text-lg">
        </p-button>
        } @else {
        <p-button
          label="Responder"
          (click)="checkAnswered()"
          [disabled]="disableButton()"
          styleClass="w-full bg-[#58CC02] border-[#58CC02] hover:bg-[#4BAD00] shadow-lg p-2 rounded-xl text-lg">
        </p-button>
        }
      </div>
      }

    </div>
  </div>

</ion-content>
