ion-content {
  --background: url('../../../../../assets/image/background.png');
}

.disabled {
  color: rgb(154, 154, 154);
  border-color: #9a9a9a !important;
  background-color: #eee !important;

  img {
    filter: grayscale(1) !important;
  }
}
