<app-user-info-panel></app-user-info-panel>

<ion-content class="ion-padding">

  <div class="mb-16">

    <div class="flex items-center justify-center gap-2 mt-4">
      <i class="fa-solid fa-star text-yellow-400"></i>
      <span class="text-md text-gray-500">Dias estudados essa semana</span>
    </div>

    <div class="bg-white rounded-2xl mat-elevation-z4 mt-2">
      <ul class="flex p-2 [&_li]:flex [&_li]:flex-1 [&_li]:items-center [&_li]:justify-center">
        <li *ngFor="let day of ['D', 'S', 'T', 'Q', 'Q', 'S', 'S']; let i = index">
          <ion-button size="small" [ngClass]="{ 'checked': daysWithActivity[i] }">
            <span slot="icon-only" class="text-xs text-black">{{ day }}</span>
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </li>
      </ul>
    </div>

    <div class="flex items-center justify-center gap-2 mt-4">
      <i class="fa-solid fa-fire text-orange-500"></i>
      <span class="text-md text-gray-500">Dias de ofensiva: <span class="font-bold">{{ offensive() }}</span></span>
    </div>

    <div
      class="border-solid border-gray-500 border-opacity-10 rounded-xl mt-8 shadow-lg flex flex-col gap-4 items-center text-center pt-4 pb-6 px-4">
      <img src="assets/image/home/books.png" class="w-24">
      <span class="text-xl font-semibold">Cada desafio é uma oportunidade para brilhar!</span>
      <p class="text-sm text-gray-500">
        Complete desafios para acumular pontos e desbloquear novas conquistas.
      </p>
      <p-button label="Vamos lá!" styleClass="w-full bg-[#58CC02] border-[#58CC02] hover:bg-[#4BAD00] shadow-lg"
        routerLink="/tabs/challenge" matRipple></p-button>
    </div>

    <div class=" flex flex-col gap-4 mt-10">
      <span class="text-xl font-bold">Seu ranking</span>
      <div class="flex justify-between items-center border-solid border-[#58CC02] rounded-xl p-4 h-16 shadow-lg"
        matRipple routerLink="/tabs/ranking">
        <div class="flex gap-3 items-center">
          <span class="flex justify-center w-8 font-bold">{{ userRanking()?.position }}º</span>
          <span>{{ userRanking()?.name }}</span>
        </div>
        <div class="flex gap-2 items-center">
          <i class="fa-solid fa-bolt fa-xl text-yellow-300"></i>
          <span class="font-bold">{{ userRanking()?.totalExp }}xp</span>
        </div>
      </div>
    </div>

  </div>

</ion-content>
