<ion-tabs (ionTabsDidChange)="onChange($event)">
  <ion-tab-bar slot="bottom" class="rounded-tl-2xl rounded-tr-2xl">
    <ion-tab-button tab="home" [ngClass]="{ 'tab-selected': selectedTab() === 'home' }">
      @if (selectedTab() === 'home') {
      <i class="fa-solid fa-house fa-xl mb-2 mt-4"></i>
      <ion-label>Início</ion-label>
      } @else {
      <i class="fa-solid fa-house fa-2xl"></i>
      }
    </ion-tab-button>

    <ion-tab-button tab="learn" [ngClass]="{ 'tab-selected': selectedTab() === 'learn' }">
      @if (selectedTab() === 'learn') {
      <i class="fa-solid fa-book fa-xl mb-2 mt-4"></i>
      <ion-label>Aprender</ion-label>
      } @else {
      <i class="fa-solid fa-book fa-2xl"></i>
      }
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/challenge" [ngClass]="{ 'tab-selected': selectedTab() === 'challenge' }">
      @if (selectedTab() === 'challenge') {
      <i class="fa-solid fa-flag fa-xl mb-2 mt-4"></i>
      <ion-label>Desafios</ion-label>
      } @else {
      <i class="fa-solid fa-flag fa-2xl"></i>
      }
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/ranking" [ngClass]="{ 'tab-selected': selectedTab() === 'ranking' }">
      @if (selectedTab() === 'ranking') {
      <i class="fa-solid fa-trophy fa-xl mb-2 mt-4"></i>
      <ion-label>Rank</ion-label>
      } @else {
      <i class="fa-solid fa-trophy fa-2xl"></i>
      }
    </ion-tab-button>

    <ion-tab-button tab="perfil" [ngClass]="{ 'tab-selected': selectedTab() === 'perfil' }">
      @if (selectedTab() === 'perfil') {
      <i class="fa-solid fa-user fa-xl mb-2 mt-4"></i>
      <ion-label>Perfil</ion-label>
      } @else {
      <i class="fa-solid fa-user fa-2xl"></i>
      }
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
