.tab-selected {
  i,
  ion-label {
    opacity: 0.6 !important;
  }
}

ion-tabs {
  ion-tab-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0 0;
    --background: transparent;
    --border: 0;

    ion-tab-button {
      --color: white;
      --color-selected: white;
      --background: var(--ion-color-primary);

      ion-icon {
        font-size: 1.5rem;
      }
    }
  }

  svg {
    width: 77px;
    margin-top: 16px;

    path {
      fill: var(--ion-color-primary);
    }
  }

  ion-tab-button.learn {
    border-top-right-radius: 20px;
  }

  ion-tab-button.ranking {
    border-top-left-radius: 20px;
  }

  ion-fab {
    ion-fab-button {
      --background: linear-gradient(to bottom, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);

      ion-icon {
        font-size: 2rem;
      }
    }
  }
}
