<ion-tabs (ionTabsDidChange)="onChange($event)">

  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button routerLink="/tabs/learn" [ngClass]="{ 'tab-selected': selectedTab() === 'learn' }">
      @if (selectedTab() === 'learn') {
      <i class="fa-solid fa-book-open-reader fa-xl"></i>
      } @else {
      <i class="fa-solid fa-book fa-xl"></i>
      }
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [ngClass]="{ 'tab-selected': selectedTab() === 'home' }" routerLink="/tabs/home">
      <i class="fa-solid fa-house fa-2xl"></i>
    </ion-tab-button>

    <ion-tab-button class="challenge" tab="challenge" [ngClass]="{ 'tab-selected': selectedTab() === 'challenge' }"
      routerLink="/tabs/challenge">
      <i class="fa-solid fa-flag fa-2xl"></i>
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
      </path>
    </svg>

    <ion-tab-button class="ranking" tab="ranking" [ngClass]="{ 'tab-selected': selectedTab() === 'ranking' }"
      routerLink="/tabs/ranking">
      <i class="fa-solid fa-trophy fa-2xl"></i>
    </ion-tab-button>

    <ion-tab-button tab="perfil" [ngClass]="{ 'tab-selected': selectedTab() === 'perfil' }" routerLink="/tabs/perfil">
      <i class="fa-solid fa-user fa-2xl"></i>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
