<div class="relative flex items-center flex-col">
  <div class="w-full p-4 mb-5 rounded-md bg-[--ion-color-primary] text-white flex flex-col text-sm">
    <ion-text class="uppercase opacity-80 font-medium">Seção 1</ion-text>
    <ion-text class="font-semibold">Essa seção contém conceitos matemáticos</ion-text>
  </div>
  <ul class="progress">
    <li class="progress__item {{ item.disabled ? 'progress__item--disabled' : '' }}" *ngFor="let item of items">
      <div class="progress__item-content" appClicked>
        <i class="fa-solid fa-star text-2xl text-white"></i>
      </div>
    </li>
  </ul>
</div>
