<div class="flex items-center flex-col relative">

  <ul class="progress" [ngClass]="{ 'inverse': inverse() }">
    <li #trailItem *ngFor="let item of items" class="relative">

      <button (click)="overlayPanel.toggle($event, target)" [ngClass]="{ 'no-visible': overlayPanel.overlayVisible }"
        class="float-animation absolute border-none w-32 rounded-lg text-lg h-12 left-1/2 -translate-x-1/2 -top-10 z-50 bg-gradient-to-r from-blue-500 to-purple-600 text-white font-semibold shadow-lg hover:shadow-xl transform transition-transform duration-300 ease-in-out hover:scale-105 {{ item.disabled ? 'hidden' : '' }}">
        Começar
        <div class="h-[1rem] left-0 absolute -bottom-3 w-full flex justify-center overflow-hidden">
          <div
            class="triangle absolute -top-2 w-0 h-0 border-l-4 border-l-transparent border-r-4 border-r-transparent border-b-4 border-b-white">
          </div>
        </div>
      </button>

      <div #target [ngClass]="disabledStyleClass(item)" class="progress__item" (click)="overlayPanel.toggle($event)">
        <p-overlayPanel #overlayPanel
          styleClass="pb-3 bg-[var(--ion-color-primary)] rounded-xl w-[70vw] !left-1/2 !-translate-x-1/2 {{ item.disabled ? 'hidden' : '' }}">
          <div class="flex flex-col bg-[var(--ion-color-primary)] text-white">
            <div class="flex flex-col">
              <ion-text class="font-bold text-lg">Aprenda a somar</ion-text>
              <div>
                Lição <span>1</span> de <span>4</span>
              </div>
            </div>
            <button
              pButton
              matRipple
              (click)="item.action()"
              class="bg-white border-none font-bold mt-4 flex justify-center text-[#58CC02] rounded-xl shadow-lg">
              Começar + 10xp
            </button>
          </div>
        </p-overlayPanel>

        <div class="progress__item-content" appClicked [effectDisabled]="item.disabled!">
          <i class="{{ item.icon ? item.icon : 'fa-solid fa-star' }} text-3xl text-white"></i>
        </div>
      </div>
    </li>
  </ul>
  <div class="absolute top-[42%] {{ inverse() ? 'right-[55%]  -translate-x-5' : 'left-[55%] translate-x-3' }}">

    @if (inverse()) {
    <img src="assets/image/trail-progress/abacus.gif" class="w-24">
    } @else {
    <img src="assets/image/trail-progress/book.gif"  class="w-24">
    }
  </div>
</div>
