

.progress {
  @apply list-none flex gap-8 flex-col;

  &__item {
    @apply  w-[100px] h-[100px] rounded-full relative cursor-pointer flex items-center justify-center;
    border: 0.6rem solid #eee;
    border-top: 0.6rem solid rgb(47, 199, 47);
    border-right: 0.6rem solid rgb(47, 199, 47);


    &-content {
      @apply bg-[#58CC02] flex p-5 items-center justify-center rounded-full w-[80%] h-[80%];
      transform: translateY(-0.1rem);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      box-shadow: 0 6px 0 rgb(0, 0, 0,.2), 0 6px 0 rgba(47, 177, 47, 0.829);

      &.clicked {
        transform: translateY(0);
        box-shadow: none;
      }
    }

    &--disabled {
      @apply w-[80px] h-[80px];
      border: none;

      .progress__item-content {

        background-color: #eee !important;
        cursor: not-allowed;
        box-shadow: 0 6px 0 rgba(64, 73, 64, 0.3), 0 6px 0 rgba(64, 73, 64, 0.3);
      }

      i {
        color: #b2aeae !important;
      }
    }
  }
}

.triangle {
    border-radius: 2px;
    content: "";
    height: 1rem;
    transform: rotate(45deg);
    width: 1rem;
    z-index: 999;
    @apply bg-gradient-to-r from-blue-500 to-purple-600;
}

.no-visible {
  opacity: 0 !important;
  transform: translateY(20px) !important;
  transition: all 0.3s ease-in !important;
}

::ng-deep {
  .p-overlaypanel {
    &::before {
      left: 50% !important;
      border-bottom-color: var(--ion-color-primary);
    }
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(0.8rem);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.progress > li:nth-child(1) { right: 0;
  transform: translateX(0) translateY(0);
}

.progress > li:nth-child(2) {
  right: 40%;
}

.progress > li:nth-child(3) {
  right: 60%;
}

.progress > li:nth-child(4) {
  right: 40%;
}

.progress > li:nth-child(5) {
  right: 0%;
}
