

.progress {
  @apply list-none flex gap-8 flex-col;

  &__item {
    @apply p-1.5 w-32 h-32 rounded-full relative cursor-pointer;
    border: 0.5rem solid #eee;
    border-top: 0.5rem solid rgb(47, 199, 47);
    border-right: 0.5rem solid rgb(47, 199, 47);

    &-content {
      @apply bg-[#58CC02] flex p-5 items-center justify-center rounded-full w-full h-full;
      transform: translateY(-0.1rem);
      transition: transform 0.2s ease, box-shadow 0.2s ease;

      &.clicked {
        transform: translateY(0);
        box-shadow: none;
      }
    }

    &--disabled {
      border: none;

      .progress__item-content {
        background-color: #eee !important;
        cursor: not-allowed;
      }

      i {
        color: #b2aeae !important;
      }
    }
  }
}

.triangle {
    border-radius: 2px;
    content: "";
    height: 1rem;
    transform: rotate(45deg);
    width: 1rem;
    z-index: 999;
    @apply bg-gradient-to-r from-blue-500 to-purple-600;
}

.no-visible {
  opacity: 0 !important;
  transform: translateY(20px) !important;
  transition: all 0.2s ease-in !important;
}

::ng-deep {
  .p-overlaypanel {
    &::before {
      left: 50% !important;
      border-bottom-color: var(--ion-color-primary);
    }
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(0.8rem);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
