<div class="h-full flex flex-col justify-between gap-3 p-2">
  <div class="flex flex-col items-center gap-5">
    <span class="text-xl font-bold">{{ data.title }}</span>
    <div [innerHTML]="data.content" class="flex flex-col gap-3 text-justify"></div>
    <img [src]="'assets/image/learning-trail/' + data.image" class="w-20">
  </div>

  <div>
    <p-button label="Continuar" routerLink="/tabs/learn"
      styleClass="w-full bg-[#58CC02] border-[#58CC02] hover:bg-[#4BAD00] shadow-lg p-2 rounded-xl text-lg">
    </p-button>
  </div>
</div>
