<ion-header>
  <ion-toolbar color="primary">
    <div slot="start" class="flex items-center gap-2 w-full pt-3 pb-2 px-2">
      <div class="flex gap-4 flex-1 items-center">
        <p-avatar routerLink="/tabs/perfil" image="assets/image/user/student.png" shape="circle"
          styleClass="font-bold bg-white text-white p-1" size="large" />

        <div class="flex-1">
          <span class="text-lg">Nome</span>
          <ion-progress-bar color="light" [value]="0.5" />
        </div>
      </div>

      <div>
        Nível
      </div>


    </div>
  </ion-toolbar>
</ion-header>
