ion-content {
  --background: url('../../../../../assets/image/background.png');
}

.disabled {
  color: #9A9A9A;
  border-color: #BABABA !important;
  background-color: #eee !important;

  img {
    filter: grayscale(1) !important;
  }
}
