ion-content {
  --background: url('../../../../../assets/image/background.png');
}

.disabled {
  color: #9A9A9A;
  border-color: #BABABA !important;
  background-color: #eee !important;
  padding: 1.25rem 0.25rem;

  img {
    filter: grayscale(1) !important;
  }
}
