<ion-content>
  <div class="flex flex-col h-full">

    <div class="flex justify-center items-center py-5">
      <img src="assets/image/achievements/achievement.png"
        class="w-28 bg-white rounded-full p-2 mat-elevation-z4">
    </div>

    <div class="bg-white rounded-tl-[2rem] rounded-tr-[2rem] py-4 px-6 w-full">
      <div class="grid grid-cols-2 gap-4 mt-4 mb-16">

        <div *ngFor="let achievement of achievements()"
          class="flex flex-col items-center justify-between py-2 px-1 shadow-lg rounded-xl border-solid text-center h-56"
          [ngStyle]="{'border-color': achievement.color}"
          [ngClass]="{ 'disabled': achievement.disabled }">

          <img src="{{ achievement.image }}" class="w-14 h-14">

          <span class="text-lg font-bold">{{ achievement.title }}</span>
          <span class="text-sm text-gray-500">{{ achievement.description }}</span>

          @if (!achievement.disabled) {
          <p-tag severity="info" value="Obtido em {{ achievement.obtainedAt }}" styleClass="text-[0.55rem]" />
          }
        </div>

      </div>
    </div>

  </div>
</ion-content>
