<ion-header>
  <ion-toolbar color="primary">
    <div slot="start" class="flex items-center gap-2 w-full py-3 pl-4 pr-2">

      <div class="flex flex-1 items-center">
        <p-avatar routerLink="/tabs/profile"
          image="{{ user()?.photoURL ? user()?.photoURL : 'assets/image/user/student.png' }}"
          shape="circle"
          styleClass="font-bold bg-white text-white mt-2 border-solid border-white" size="large" />

        <div class="flex flex-col flex-1 ml-5 mr-3">
          <span class="text-lg mb-1">{{ user()?.displayName }}</span>
          <div class="flex flex-col items-end">
            <ion-progress-bar color="light" [value]="0.38" />
            <span class="text-[0.8rem] opacity-90">38/100 - Nível 15</span>
          </div>
        </div>
      </div>

      <div class="bg-white w-10 h-10 rounded-full flex items-center justify-center">
        <img src="assets/image/level/1.png" class="w-10">
      </div>

    </div>
  </ion-toolbar>
</ion-header>
