<ion-content class="ion-padding">
  <div class="h-full flex flex-col items-center relative">

    <img src="assets/image/logo.svg" class="w-60 mb-7">

    <div class="bg-white px-6 py-8 rounded-xl">
      <div class="flex flex-col gap-2 items-center text-center">
        <img src="assets/image/welcome.png" class="w-60">

        <div class="my-3">
          <ion-text class="text-xl font-semibold">Comece sua Jornada Matemática!</ion-text>
        </div>

        <p class="text-sm text-gray-500">Aprenda frações de forma divertida e interativa!
          Ganhe pontos e conquistas enquanto aprende matemática.</p>

        <p-button label="Começar Agora"
          styleClass="w-full bg-[#F99007] border-[#F99007] hover:bg-[#F56B07] shadow-md mt-3"
          routerLink="/account/register"></p-button>

        <div footer-content class="text-[0.85rem] mt-5" routerLink="/account/login" matRipple>
          <span>Já tem uma conta? </span>
          <span class="text-[#F54407]">Entrar</span>
        </div>
      </div>
    </div>

  </div>
</ion-content>
