<ion-content>

  <div class="mb-16">
    <div class="p-5">

      <div class="relative w-32 h-32 rounded-full mx-auto border-solid border-gray-500 border-opacity-10 mat-elevation-z4">
        <img class="w-full h-full rounded-full" alt="Silhouette of a person's head"
          src="../../../../../assets/image/user/student.png" />
        <span class="absolute right-0 -bottom-2 scale-90">
          <p-fileUpload mode="basic" chooseIcon="pi pi-image" name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
            styleClass="rounded-full w-8 h-8 bg-[#a8a5a5] border-none">
          </p-fileUpload>
        </span>
      </div>

      <div class="p-3 rounded-xl border-solid border-gray-500 border-opacity-10 mat-elevation-z4 mt-6">
        <div>
          <span class="flex flex-col cursor-pointer" matRipple matRippleColor="rgba(0, 0, 0, 0.02)" (click)="showDialog()">
            <ion-label class="font-bold opacity-50 flex items-center gap-2">Nome <i
                class="fa-solid fa-pencil text-xs"></i></ion-label>
            <ion-text class="font-medium">Livia</ion-text>
          </span>
        </div>

        <div class="mt-3">
          <span class="flex flex-col cursor-pointer" matRipple matRippleColor="rgba(0, 0, 0, 0.02)">
            <ion-label class="font-bold opacity-50 flex items-center gap-2">E-mail</ion-label>
            <ion-text class="font-medium">livia&#64;email.com</ion-text>
          </span>
        </div>
      </div>
    </div>

    <hr class="h-0.5 bg-gray-500 border-none opacity-10">

    <div class="p-5">
      <span class="text-xl font-bold">Estatísticas</span>

      <div class="flex gap-4 mt-4">
        <span
          class="flex flex-1 min-w-32 p-3 items-center gap-5 rounded-xl border-solid border-gray-500 border-opacity-10 mat-elevation-z4">
          <i class="fa-solid fa-circle-check fa-xl text-green-500"></i>

          <span class="flex flex-col">
            <ion-text class="text-lg font-bold">34</ion-text>
            <ion-text class="text-xs">Acertos</ion-text>
          </span>
        </span>

        <span
          class="flex flex-1 min-w-32 p-3 items-center gap-5 rounded-xl border-solid border-gray-500 border-opacity-10 mat-elevation-z4">
          <i class="fa-solid fa-circle-xmark fa-xl text-red-500"></i>
          <span class="flex flex-col">
            <ion-text class="text-lg font-bold">23</ion-text>
            <ion-text class="text-xs">Erros</ion-text>
          </span>
        </span>
      </div>

      <div class="flex gap-4 mt-4">
        <span
          class="flex flex-1 min-w-32 p-3 items-center gap-5 rounded-xl border-solid border-gray-500 border-opacity-10 mat-elevation-z4">
          <i class="fa-solid fa-trophy fa-xl text-yellow-400"></i>
          <span class="flex flex-col">
            <ion-text class="text-lg font-bold">8</ion-text>
            <ion-text class="text-xs">Conquistas</ion-text>
          </span>
        </span>

        <span
          class="flex flex-1 min-w-32 p-3 items-center gap-5 rounded-xl border-solid border-gray-500 border-opacity-10 mat-elevation-z4">
          <i class="fa-solid fa-bolt fa-xl text-yellow-300"></i>
          <span class="flex flex-col">
            <ion-text class="text-lg font-bold">1538</ion-text>
            <ion-text class="text-xs">Total de XP</ion-text>
          </span>
        </span>
      </div>

    </div>

    <div class="p-5">
      <div class="profile flex justify-between items-center">
        <span class="text-xl font-bold">Conquistas</span>
        <ion-button fill="outline" expand="block" class="normal-case h-8 text-[--ion-color-primary]"
          color="primary" routerLink="/tabs/achievements">VER TODAS</ion-button>
      </div>
      <div
        class="border-solid border-gray-500 border-opacity-10 rounded-xl p-2 mt-4 grid grid-cols-4 gap-4 place-items-center mat-elevation-z4">

        <div *ngFor="let achievement of achievements" class="achievement flex justify-center items-center"
          [ngStyle]="{'border-color': achievement.color}">
          <img [src]="'../../../../../assets/image/achievements/' + achievement.image" class="w-8 h-8">
        </div>

      </div>
    </div>

    <div class="p-5">
      <ion-button fill="outline" expand="block" class="normal-case h-12" id="close-button">
        Sair</ion-button>
      <ion-button fill="outline" expand="block" class="normal-case h-12 mt-5" id="delete-button">
        Deletar minha conta</ion-button>
    </div>

  </div>

</ion-content>


<p-toast [position]="'top-center'" styleClass="w-[80vw]" />

<ion-alert
  trigger="close-button"
  header="Atenção!"
  message="Você realmente tem certeza de que deseja sair agora?"
  [buttons]="closeAlertButtons"
></ion-alert>

<ion-alert
  trigger="delete-button"
  header="Atenção!"
  message="Tem certeza de que deseja continuar?"
  [buttons]="deleteAlertButtons"
></ion-alert>
