.profile {
  ion-button {
    --background: #a8a5a5;
  }
}

ion-button[fill=outline] {
  --color: red;
  --border-color: red;
  --border-radius: 0.4rem;
}

.achievement {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: solid 6px;
}
